.container {
  box-shadow: 0px 0px 5px #888888;
  border: 1px solid #AAA;
  border-radius: 8px;
  height: 96%;
  width: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%; }

#scroller {
  width: 100%; }
  #scroller table, #scroller tbody {
    width: 100%; }
    #scroller table tr, #scroller table td, #scroller tbody tr, #scroller tbody td {
      height: 20%;
      max-height: 30px; }

#list-wrapper {
  max-height: 55%; }

div.tables-wrapper {
  margin-left: 2%;
  margin-right: 2%; }
  div.tables-wrapper .table {
    margin: 0; }
  div.tables-wrapper td, div.tables-wrapper th {
    text-align: center; }
    div.tables-wrapper td:nth-child(1), div.tables-wrapper th:nth-child(1) {
      width: 7%; }
    div.tables-wrapper td:nth-child(2), div.tables-wrapper th:nth-child(2) {
      width: 35%; }
    div.tables-wrapper td:nth-child(3), div.tables-wrapper th:nth-child(3) {
      width: 18%; }
    div.tables-wrapper td:nth-child(4), div.tables-wrapper th:nth-child(4) {
      width: 40%; }

div.content-wrapper {
  margin-left: 2%;
  margin-right: 2%; }
